@{
    ViewBag.Title = "Contact";
}

@section AdditionalMeta{


    <!-- Search Engine -->

    <meta name=”keywords” content="Kadıköy, Kadikoy, Kadıköy mimarlık ofisi, iç mimarlık, mimar, iç mimar, restorasyon, bina yenileme, belediye, ruhsat projesi, proje, gülçin, gülçin ural, mahal mimarlık, mahal, mahalural,  konak belediye, inegöl belediye, Sahrayicedid, Feneryolu" />
}
<div class="col sqs-col-6 span-6">
    <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="83.77253814147018" style="height: 100%" data-block-type="5" id="block-yui_3_17_2_1_1571987932411_17237">
        <div class="sqs-block-content" style="height: 100%">
            <div class=" image-block-outer-wrapper
                                       layout-caption-below
                                       design-layout-inline
                                       combination-animation-none
                                       individual-animation-none
                                       individual-text-animation-none
                                       "
                 data-test="image-block-inline-outer-wrapper" style="height: 100%">
                <figure class="
                                          sqs-block-image-figure
                                          intrinsic
                                          "
                        style="        max-width: 1280.0px; height: 100%
                                                                                                                                                                                                                                                                                                   ">
                    <div style="padding-bottom:83.77253723144531%;height:100%"
                         class="
                                             image-block-wrapper
                                             has-aspect-ratio
                                             "
                         data-animation-role="image">
                        <img src="@Url.Content("~/Content/Images/iletisim.jpeg")" alt="AdobeStock_159055688.jpg" />
                    </div>
                </figure>
            </div>
        </div>

    </div>
</div>
<div class="col sqs-col-6 span-6">
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5d0cc1dabb408e00019a5ddd">
        <div class="sqs-block-content">
            <h2 style="white-space:pre-wrap;"><strong></strong></h2>
            <p class="" style="white-space:pre-wrap;">Bizimle iletişime geçebilirsiniz...</p>
        </div>
    </div>

    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1575636451201_5289">
        <div class="sqs-block-content">
            <p class="" style="white-space: pre-wrap;">
                MAHAL MİMARLIK / KADIKÖY /İSTANBUL
                TEL : 0216 712 12 28
                info@mahaluralmimarlik.com
                AHŞAP VE KÜTÜK EV UYGULAMALARI İÇİN:
                TEL : 0533 730 16 51
                info@naturalinsaat.com
                www.naturalinsaat.com
            </p>
            <p class="" style="white-space:pre-wrap;"><br></p>
        </div>
    </div>
    <div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_1_1561385943598_3776">
        <div class="sqs-block-content">
            <div class="form-wrapper">
                <div class="form-inner-wrapper text-center">
                    <a href="https://www.facebook.com/mahalural" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/mahalurmimarlik" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com/company/mahal-mi%CC%87marlik" target="_blank" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com/mahalmimarlik/" target="_blank" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12046.759213956062!2d29.0343543!3d40.9882728!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb99b24f4a41634e8!2sMAHAL%20M%C4%B0MARLIK!5e0!3m2!1sen!2str!4v1606064580580!5m2!1sen!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

