@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
<div class="col sqs-col-6 span-6">
    <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="83.77253814147018" data-block-type="5" id="block-yui_3_17_2_1_1571987932411_17237">
        <div class="sqs-block-content">
            <div class="
                                       image-block-outer-wrapper
                                       layout-caption-below
                                       design-layout-inline
                                       combination-animation-none
                                       individual-animation-none
                                       individual-text-animation-none
                                       "
                 data-test="image-block-inline-outer-wrapper">
                <figure class="
                                          sqs-block-image-figure
                                          intrinsic
                                          "
                        style="max-width:1280.0px;">
                    <div style="padding-bottom:83.77253723144531%;"
                         class="
                                             image-block-wrapper
                                             has-aspect-ratio
                                             "
                         data-animation-role="image">
                        <noscript><img src="../images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1575900995768-XCAZAPJN9P9D7Z90ZCDX/ke17ZwdGBToddI8pDm48kP0x04V1XEe0XPzqOX1MKaR7gQa/AdobeStock_159055688.jpg" alt="AdobeStock_159055688.jpg" /></noscript>
                        <img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1575900995768-XCAZAPJN9P9D7Z90ZCDX/ke17ZwdGBToddI8pDm48kP0x04V1XEe0XPzqOX1MKaR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmjw4y9jm25X_CplAKqpK2fkSw6YcmP1xW_gG8HCptQz72szHi8Rk0JAosDC56jamZ/AdobeStock_159055688.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5d0cbbde5ac0ce0001b4754c/1575900995768-XCAZAPJN9P9D7Z90ZCDX/ke17ZwdGBToddI8pDm48kP0x04V1XEe0XPzqOX1MKaR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmjw4y9jm25X_CplAKqpK2fkSw6YcmP1xW_gG8HCptQz72szHi8Rk0JAosDC56jamZ/AdobeStock_159055688.jpg" data-image-dimensions="1280x1920" data-image-focal-point="0.5,0.7857142857142857" alt="AdobeStock_159055688.jpg" data-load="false" data-image-id="5dee572d5e5ce97f94fdf9d5" data-type="image" />
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="col sqs-col-6 span-6">
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5d0cc1dabb408e00019a5ddd">
        <div class="sqs-block-content">
            <h2 style="white-space:pre-wrap;"><strong>CONTACT</strong></h2>
            <p class="" style="white-space:pre-wrap;">Contact us to find and create your unique hideaway.</p>
        </div>
    </div>
    <div class="sqs-block form-block sqs-block-form" data-block-type="9" id="block-yui_3_17_2_1_1561385943598_3776">
        <div class="sqs-block-content">
            <div class="form-wrapper">
                <div class="form-inner-wrapper">
                    <form data-form-id="5d10dbe3b3f1e700015f2237"
                          data-success-redirect=""
                          autocomplete="on"
                          method="POST"
                          action="https://helix-chicory-pegn.squarespace.com/"
                          onsubmit="return (function (form) {
                                             Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
                                             (new Y.Squarespace.FormSubmit(form)).submit({
                                             formId: '5d10dbe3b3f1e700015f2237',
                                             collectionId: '5d0cc1dabb408e00019a5ddc',
                                             objectName: 'page-5d0cc1dabb408e00019a5ddc'
                                             });
                                             });
                                             return false;
                                             })(this);">
                        <div class="field-list clear">
                            <fieldset id="name-yui_3_17_2_1_1561385943598_3781" class="form-item fields name required">
                                <legend class="title">
                                    Name
                                    <span class="required" aria-hidden="true">*</span>
                                </legend>
                                <div class="field first-name">
                                    <label class="caption">
                                        <input class="field-element field-control"
                                               name="fname"
                                               x-autocompletetype="given-name"
                                               type="text"
                                               spellcheck="false"
                                               maxlength="30"
                                               data-title="First"
                                               aria-required="true" />
                                        <span class="caption-text">First Name</span>
                                    </label>
                                </div>
                                <div class="field last-name">
                                    <label class="caption">
                                        <input class="field-element field-control"
                                               name="lname"
                                               x-autocompletetype="surname"
                                               type="text"
                                               spellcheck="false"
                                               maxlength="30"
                                               data-title="Last"
                                               aria-required="true" />
                                        <span class="caption-text">Last Name</span>
                                    </label>
                                </div>
                            </fieldset>
                            <div id="email-yui_3_17_2_1_1561385943598_3782" class="form-item field email required">
                                <label class="title" for="email-yui_3_17_2_1_1561385943598_3782-field">
                                    Email
                                    <span class="required" aria-hidden="true">*</span>
                                </label>
                                <input class="field-element"
                                       id="email-yui_3_17_2_1_1561385943598_3782-field"
                                       name="email"
                                       type="email"
                                       autocomplete="email"
                                       spellcheck="false"
                                       aria-required="true" />
                            </div>
                            <div id="text-yui_3_17_2_1_1561385943598_3783" class="form-item field text required">
                                <label class="title" for="text-yui_3_17_2_1_1561385943598_3783-field">
                                    Project
                                    <span class="required" aria-hidden="true">*</span>
                                </label>
                                <input class="field-element text"
                                       type="text"
                                       id="text-yui_3_17_2_1_1561385943598_3783-field"
                                       aria-required="true" />
                            </div>
                            <div id="textarea-yui_3_17_2_1_1561385943598_3784" class="form-item field textarea required">
                                <label class="title" for="textarea-yui_3_17_2_1_1561385943598_3784-field">
                                    Project Details
                                    <span class="required" aria-hidden="true">*</span>
                                </label>
                                <textarea class="field-element "
                                          id="textarea-yui_3_17_2_1_1561385943598_3784-field"
                                          aria-required="true"></textarea>
                            </div>
                        </div>
                        <div data-animation-role="button"
                             class="
                                                form-button-wrapper
                                                form-button-wrapper--align-left
                                                ">
                            <input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit" />
                        </div>
                        <div class="hidden form-submission-text">Thank you!</div>
                        <div class="hidden form-submission-html" data-submission-html=""></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1575636451201_5289">
        <div class="sqs-block-content">
            <p class="" style="white-space:pre-wrap;">© Murron Interiors 2019. Unauthorized use and/or duplication of this material without express and written permission from this site’s author and/or owner is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to Murron Interiors with appropriate and specific direction to the original content.</p>
            <p class="" style="white-space:pre-wrap;"><br></p>
        </div>
    </div>
</div>
