
@{
    ViewBag.Title = "Designs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col sqs-col-12 span-12">

    <div class="sqs-block image-block sqs-block-image" data-block-type="5">
        <div class="sqs-block-content">
            <div class=" image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none" data-test="image-block-inline-outer-wrapper">
                <figure class=" sqs-block-image-figure intrinsic " style="max-width: 2000.0px;">
                    <div style="padding-bottom: 56.25%;" class="  image-block-wrapper has-aspect-ratio " data-animation-role="image">
                        <noscript><img src="@Url.Content("~/Content/Images/Etasarim/EtasarimImage.jpeg")" alt="" /></noscript>
                        <img class="thumb-image" src="@Url.Content("~/Content/Images/Etasarim/EtasarimImage.jpeg")" style="left: 0%; top: -0.0151699%; width: 100%; height: 100.03%; position: absolute" data-image-dimensions="2000x1125" data-image-focal-point="0.5,0.5" alt="MAREN+FINAL+EDIT-7.jpg" data-load="false" data-image-id="5dc992d016757a6ba7a0109a" data-type="image" />
                    </div>
                </figure>
            </div>
            <div class="sqs-block html-block mt-5 sqs-block-html" data-block-type="2">
                <div class="col sqs-col-12">
                    <p style="white-space: pre-wrap; text-align:center"><b>GÜLÇİN URAL E-TASARIM STÜDYOSU</b></p>
                    <p style="white-space: pre-wrap;">           Yeni ve güncel tasarımlara online erişebilirsiniz. Yerinde bir ziyaret mümkün olmadığında mekânlarınız için en uygun tasarımı, en uygun fiyatla profesyonellerin eline bırakın. E-Tasarım Stüdyosu ile hayal ettiklerinizi uzaktan da hayata geçirebilirsiniz. Çevrimiçi tasarım hizmetimiz, nerede olursanız olun size profesyonel bir dokunuş sağlar. Projeniz için tüm e-tasarım hizmetleri ve yazışmalar tamamen çevrimiçi olarak evinizin rahatlığında gerçekleştirilir. Birebir yapılacak görüşmeler, malzeme seçimleri, 3 boyutlu çizimler vb. geliştirilmiş e-tasarım süreci ile online olarak ilerletilir. Projenizin tasarımına başladığımızda, birkaç hafta içinde eksiksiz bir e-tasarım planıyla hayalinizdeki mekânlara sahip olabileceksiniz.
                    <p style="white-space: pre-wrap; text-align:center"> <b>NELER DAHİL?</b></p>
                    <p style="white-space: pre-wrap; ">
                                 * 3 Boyutlu çizimler
                                 * Ekibimiz tarafından profesyonel, elle seçilmiş mobilya, kumaş, boya seçimleri
                                 * Özel tasarım panosu
                                 * Profesyonel mekânsal planlama
                                 * Alışveriş listesi
                                 
                                 

                        Not: Talep edilirse, 2 boyutlu çizimler ve şantiye takibi için farklı bir ücretlendirme yapılacaktır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

