
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .card {
        margin-top: 4px;
        background-color: #212529;
        color: white;
    }

        .card .btn {
            background-color: white;
            color: black;
            border: 1px solid #eee;
        }
</style>

<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="https://galeri3.arkitera.com/var/albums/Soylesi-3/mahal/mahal2.jpg.jpeg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title"> “ Mimarlık, Ofis Açma ve Yürütme İşlerinin Arasında En Kolay Şey ” </h5>
        <p class="card-text">Genç mimarlık ofisi Mahal ile yeni mezun mimarların sektördeki deneyimlerini konuştuk.</p>
        <a href="https://www.arkitera.com/soylesi/mimarlik-ofis-acma-ve-yurutme-islerinin-arasinda-en-kolay-sey/" target="_blank"   class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="http://kot0.com/wp-content/uploads/2016/05/betonart_kotsifir-1050x547.jpg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">BETONART 49: ”DÜNYEVİLEŞTİRMELER VE KUTSALLIK” </h5>
        <p class="card-text">Sayıda Mahal Mimarlık, Halükar Mimarlık, GOA Mimarlık ve Zem Mimarlık ofisleriyle yapılan konuşmaların yanı sıra Işıl Baysan Serim ve Ayça Beygo’nun “SÍ/NO: Urban-Think-Tank Mimarlığı” sergisi üzerine söyleşisi yer alıyor. </p>
        <a href="http://kot0.com/betonart-49-dunyevilestirmeler-ve-kutsallik-cikti/" target="_blank" class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="https://girisimle.com/wp-content/uploads/2015/12/105057.jpg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">4 Kadın, 4 Sandalye, 1 Ofis</h5>
        <p class="card-text">“Mahal Mimarlık, 2009-2010 yıllarında mimarlık fakültesinden mezun olmuş dört kadın tarafından 2013’te kurulmuş.” </p>
        <a href="https://girisimle.com/4-kadin-4-sandalye-1-ofis/" target="_blank" class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="@Url.Content("~/Content/Images/ahşap kütük yapı/İznik Konut/1.jpeg")" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">“ Bağ evi yaptırmadan önce bilmeniz gereken her şey ”</h5>
        <p class="card-text">Proje işleri için farklı bağ evi modellerini, köy evi projelerini incelemek sizin için akıllıca bir adım olacaktır.</p>
        <a href="https://www.homify.com.tr/yeni_fikirler/6078025/bag-evi-yaptirmadan-oence-bilmeniz-gereken-her-sey" target="_blank"   class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="http://galeri3.arkitera.com/var/thumbs/arkiv-2/proje/mahal-mimarlik---ural/ithaki-yayinlari-ve-ithaki-edebiyat-akademisi/1.jpg.jpeg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">“ İthaki Yayınları ve İthaki Edebiyat Akademisi ”</h5>
        <p class="card-text">MAHAL MİMARLIK / Ural'ın İthaki yayınları, İthaki Edebiyat Akademisi Ve İthaki Kafeyi içinde barındıran Kadıköy'de yer alan iç mimari projesidir.</p>
        <a href="http://www.arkiv.com.tr/proje/ithaki-yayinlari-ve-ithaki-edebiyat-akademisi/7831"  target="_blank"  class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="http://galeri3.arkitera.com/var/thumbs/kullanicigalerisi3/proje/2018-03-06/smash-food-works-2064888136/2.jpg.jpeg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">“ Mutfak Sanatları Akademisi’nden olan Smash Food Works ”</h5>
        <p class="card-text">Mahal Mimarlık / Ural tarafından tasarlanan restoran İstanbul Kadıköy'de yer alıyor.
        </p>
        <a href="http://www.arkiv.com.tr/proje/smash-food-works/8970" target="_blank" class="btn btn-primary">...</a>
    </div>
</div>

<div class="card" style="width: 18rem;margin:1rem">
    <img class="card-img-top" src="http://galeri3.arkitera.com/var/thumbs/arkiv-03/proje/mahal-ural/pembe-yali-restaurant-cafe/1.jpg.jpeg" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">“ Araştırmaya konu olan Pembe Yalı, Boğaziçi sahil şeridi, öngörünüm alanı içinde yer almaktadır. ”</h5>
        <p class="card-text">İstanbul ili, Beykoz ilçesinde bulunan Pembe Yalı’nın 19. yy.’da inşa edildiği bilinmektedir.
        </p>
        <a href="http://www.arkiv.com.tr/proje/pembe-yali-restaurant-cafe/11137"  target="_blank"  class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top"  src="@Url.Content("~/Content/Images/restorasyon/Pembe Yalı/7.jpg")"  alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title"> “ Ekrem Vardar'a ait olan yalı, 2013'te Ülker Grubu'nun patronu Murat Ülker tarafından 5 milyon 500 bin dolara satın alındı.”</h5>
        <p class="card-text">2016 Yılında kısmi #Restorasyon çalışmaları başlatılan yalıda çalışmalarda sona gelinmiş gibi görünüyor.....</p>
        <a href="https://www.instagram.com/p/BXsw5islJEo/"  target="_blank"  class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="@Url.Content("~/Content/Images/Home/duranlogo.jpg")" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">Business Site</h5>
        <p class="card-text">Disiplinler arası alanda kabul görmüş çözüm ortakları ile çalışılarak tasarılarını hayata geçirmeyi ve detay-bütün ilişkisini titizlikle çözümlemeyi hedef edinir.</p>
        <a href="https://mahalmimarlik.business.site/"  target="_blank"  class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin: 1rem;margin-left:200px">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body text-center">
        <h5 class="card-title">“ Mimarlık ve Yaşam ”</h5>
        <p class="card-text">Heterotopik Bir Mekân: Tophane-i Amire Kültür Ve Sanat Merkezi</p>
        <a href="https://dergipark.org.tr/tr/pub/my/issue/46378/535605"  target="_blank" class="btn btn-primary">...</a>
    </div>
</div>
<div class="card" style="width: 18rem; margin:1rem">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body text-center">
        <h5 class="card-title">“Konut Tasarımında Formsuzluk”</h5>
        <p class="card-text">Mimari form, yapının işlevine uygun ve mimarın kavramsal yaklaşımı doğrultusunda binanın biçimlendirilme sürecinin sonucudur. </p>
        <a href="https://dergipark.org.tr/tr/pub/ataunigsfd/issue/53335/593959"  target="_blank" class="btn btn-primary">...</a>
    </div>
</div>
@*<div class="card" style="width: 18rem; margin:1rem">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#"  target="_blank"   class="btn btn-primary">...</a>
    </div>

</div>*@


